# Rust
/target
Cargo.lock

# Tauri
/src-tauri/target

# Web
/node_modules
/dist
/tsconfig.tsbuildinfo
/assets

# Data
/data/*.json
!/data/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
